*.swp
.vim/.vim
.vim/nvim
.vim/.netrwhist
.vim/bundle
bin/bin
bin/go
.aws/.aws
/macvim
.sbt/plugins/project
.sbt/plugins/target
.sbt/plugins/plugins
.sbt/0.13/dependency
.sbt/0.13/sonatype.sbt
.sbt/0.13/sonatypezalando.sbt
.sbt/0.13/plugins/idea.sbt
.sbt/1.0/plugins/idea.sbt
.sbt/1.0/sonatype.sbt
.sbt/1.0/zinc/
.sbt/1.0/sonatypezalando.sbt
bin/jenkins-generate
