set completion-ignore-case on
set editing-mode vi
set bell-style none

# search commands with arrow keys
# https://coderwall.com/p/oqtj8w
$if Bash
  "\e[A": history-search-backward
  "\e[B": history-search-forward
$endif
set show-all-if-ambiguous on
set completion-ignore-case on
